[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
httpx = "*"
boto3 = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
